.dvrwrap{
  display:inline-block;
  background-color:black;
  color:white;
}

.mediagoeshere{
  position:relative;
}

.overimage{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  display:none;
}

.tab3 {
  width:33%;
}

.live{
  max-width:100%;
}

.dvrwrap .mdl-tabs__tab {
  color: rgba(255,255,255,.54);
}

.dvrwrap .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: rgba(255,255,255,.87);
}

.dvrwrap table{
  color:white;
}

.dvrwrap .mdl-slider__background-upper{
  background: rgba(255,255,255,.26);
}

.timeselect select{
  background-color:black;
  color: white;
}

.dvryearselect{
  width:60px;
}

.dvrmonthselect{
  width:90px;
}

.dvrdateselect, .dvrhourselect, .dvrminselect, .dvrsecselect {
  width:40px;
}

.dvryearselect, .dvrmonthselect, .dvrdateselect, .dvrhourselect, .dvrminselect, .dvrsecselect {
  display:inline-block;
}

.floatrightbutton{
  float:right;
  margin-left:20px;
}

.thumbsliderwrap, .eventsliderwrap{
  position:relative;
  display:inline-block;
  width:100%;
  overflow-x:scroll;
  overflow-y:hidden;
  height:102px
}

.thumbslider, .eventslider{
  white-space:nowrap;
  position:absolute;
}

.rvctable ::-webkit-scrollbar {
  height: 3px;
}

.rvctable ::-webkit-scrollbar-track {
  background: #fff2; 
}

.rvctable ::-webkit-scrollbar-thumb {
  background: #888; 
}

.rvctable ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.thumbtimestamp, .thumbduration {
  position: absolute;
  font-weight:900;
  font-size:medium;
  text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.thumbtimestamp{
  bottom:0px;
}

.thumbduration{
  top:0px;
  right:0px;
}

