# Newbound files
bin/
generated/

# for mixed in Java files
*.class

# library version files
data/botmanager/
data/metabot/
data/peerbot/
data/securitybot/
data/threejs/

# runtime data and local properties
runtime/botmanager/
runtime/metabot/
runtime/peerbot/
runtime/securitybot/
data/runtime
converted
tmp/mime
runtime/raspberrypi/log/
runtime/raspberrypi/botd.properties
runtime/raspberrypi/capture/
runtime/raspberrypi/audiocapture/
runtime/raspberrypi/html/
runtime/raspberrypi/log/
runtime/raspberrypi/archive/
runtime/raspberrypi/audioarchive/
runtime/raspberrypi/raspicam.properties
data/raspberrypi/version.txt

# IntelliJ
out/
# PyCharm project
.idea/

# Mac ignores
.DS_Store
